@media (max-width: 380px) {
       body {
           background-color: white;
       }
       .contenedor {
           width: 80%;
           margin: auto;
           background-color: green;
           padding: 10px;
       }
       .cel {
           color: whitesmoke;
           text-align: center;
       }
       .tablet, .pc {
           display: none;
       }
}
@media (min-width: 381px)and (max-width: 800px) {
    body {
        background-color: white;
    }
    .contenedor {
        width: 80%;
        margin: auto;
        background-color: blue;
        padding: 10px;
    }
    .tablet {
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .cel, .pc {
        display: none;
    }
}
@media (min-width: 801px) {
    body {
        background-color: white;
    }
    .contenedor {
        width: 80%;
        margin: auto;
        background-color: red;
        padding: 10px;
    }
    .pc {
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .cel, .tablet {
        display: none;
    }
}